<%= link_to "Create Category", new_category_path %><br>
<% @categories.includes(:transactions).each do |cate| %>
  <%= link_to cate.name, category_transactions_path(category_id: cate.id) %>
  <span><%= cate.total_transactions_amount %></span><br>
<% end %>