<%= link_to "Create Transaction", new_category_transaction_path(@category) %><br>
<% @category.transactions.each do |transaction| %>
  <span><%= transaction.name %></span>
  <span><%= transaction.amount %></span><br>
<% end %>
