<h1>Transactions#index</h1>
<p>Find me in app/views/transactions/index.html.erb</p>

<% @category.transactions.each do |transaction| %>
  <span><%= transaction.name %></span>
  <span><%= transaction.amount %></span><br>
<% end %>
